/spf4j-jaxrs-client/target/
/target/
/spf4j-jaxrs-server/target/
/nb-configuration.xml
/spf4j-jaxrs-client/nbproject/
/spf4j-jaxrs-client/nb-configuration.xml
/spf4j-jaxrs-codegen-extension/target/
/spf4j-jaxrs-server/nbproject/
/spf4j-jaxrs-kube/target/